* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.globalDiv {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
}

app-list {
    display: block;
}

.rightPanel {
    display: block;
}
